@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1617866859706'); /* IE9 */
  src: url('iconfont.eot?t=1617866859706#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABoQAAAKRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBEIEeATYCJAMICwYABCAFhG0HMBvEBREVjFOyH4exY3qIHGpzrVU3lm2ktkKnif8cPPyv+/99cDXz4KQmJiKBLOElmBH/NygaDUqKfw0P+bt32+H2ZZFgokliVjIRG3P54CrkqwhVkq+AHKAvJC2nl+bJwTanp9SEnCbyiXunfwJ9kNU773Lci8aaNKkLMA6kAPfCKKG0QEJvGLvAJdyHAAYL0Yi8gsJKnCTWMgHEYF9PG85chCRZvgj6mr1azGKj5CsfADPh98VPEoUTSadYTaWU30nWS9MuUrd10egTREGADtuAAtGAhqiszRQ3FME4RctoVthXfeCrsCzfjdirg2B/nVXrBiAQKu9J5apvVV4C0BiPWCB51HuBCvByVnlOvBbqMdy+44DI8+uG8b1AD7UcmOZ/5B9xds10/6vwqnu1U97yReW6+5uUjJycew/DewE/fy1lTYcMJaVnZfs/5C17ZrT6f/xfTNgKucgmpzPL+dyHHK+4neweOAsA61/9Uh7295Pnv2/cb/FM++c0E+DD4tOBMGT9a/r54DyFV+BXqXr2aV1juaRWVbUFyYG6hRaDBqwGDvjwaazV/74KgmK6O9/AnEJRbKRmd9gYOWGngGbCEGV62ORLtIl0AZEeAAQvj5A83ILi5YnU7DNsAnzBzivaMFSH75mm0EiMXEFPMQT/DEnAJTkeNaL6FUb73JOsJuR3KHUSB8e0i/kplihzbKgPkatKQMIFTMBjmOcMlXCKgZqxatW1LKp7kRlw0TDkEsijUAj4zkAiwErkD1dG6fMrKLKX80hLT01xB4laMjlwmOwe5NRY9uq5l2dqBxGXUgQQwQpgAmahXI6Bqn5WCgWUKR6RqnRZ9iDqazTXNxdfdwQwWDYZ9jSF/eI8RGk0AAAAAA==') format('woff2'),
  url('iconfont.woff?t=1617866859706') format('woff'),
  url('iconfont.ttf?t=1617866859706') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1617866859706#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-folder:before {
  content: "\e701";
}

