@charset "utf-8"

body{padding-right:0!important}
.clearfix{content:'';display:block;clear:both}
.fl{float:left}
.fr{float:right}
.w50{width:50%}
a,a:hover{text-decoration:none;color:#5e5e5e}
.list-box{border:1px solid #188bf6;background:#fff}
.list-box-white{border:none;padding-bottom:10px}
.list-box .list-title{height:40px;line-height:40px;background:#188bf6;color:#fff;position:relative;left:0;right:0}
.list-box-white .list-title{height:48px;line-height:48px;border-bottom:1px solid #eee;background:none;color:#5e5e5e;margin-bottom:10px}
.list-box .list-title .title{height:100%;font-size:14px;padding:0 10px}
.list-box .list-title .option-wrap{position:absolute;right:10px;top:6px}
.list-box .list-title .option-wrap .item{width:47px;height:28px;text-align:center;line-height:28px;background:rgb(238,238,238);color:#5e5e5e;margin-left:10px;cursor:pointer}
.list-box-white .list-title .option-wrap .item{width:74px;height:34px;text-align:center;line-height:34px;background:none;border:1px solid #b3b3b3;margin-left:10px;cursor:pointer}
.list-box-white .list-title .option-wrap .item:hover{background:lightgray;border-color:lightgray}
.list-box .list-body{padding:10px 10px 0 10px}
.list-box .list-body .tools .select-wrap{width:80px;line-height:32px;position:relative;left:0;top:0}
.list-box .list-body .tools .select-wrap .open-wrap{width:100%;height:32px;display:block;position:relative;left:0;top:0;padding-left:12px;border:1px solid #e5e5e5}
.list-box .list-body .tools .select-wrap .open-wrap.active{border-bottom:none}
.list-box .list-body .tools .select-wrap .open-wrap b{position:absolute;top:0;right:0;width:17px;height:100%;background:url(../../images/welfare/icon.png) no-repeat 0 1px}
.list-box .list-body .tools .select-wrap .group{position:absolute;left:0;top:32px;width:80px;background-color:#fff;border:1px solid #e5e5e5;border-top:0;display:none}
.list-box .list-body .tools .select-wrap .group span{display:block;padding-left:12px;cursor:pointer}
.list-box .list-body .tools .select-wrap .group span:hover{background:#eee}
.list-box .list-body .tools .select-wrap .group span.active{background:#eee}
.list-box .list-body .tools .op-wrap{text-align:right}
.list-box .list-body .tools .op-wrap .payment{padding:7px 14px;background:#eca42e;color:#fff;display:inline-block}
.list-box .list-body .tools .op-wrap .payment i { color: #fff; }
.list-box .list-body .tools .op-wrap .payment:hover{background:#cc8e29}
.list-box .list-body .tools .op-wrap .add{padding:6px 13px;border:1px solid #e5e5e5;display:inline-block;cursor:pointer}
.list-box .list-body .tools .op-wrap .add:hover{background:#ededed;border:1px solid #b3b3b3}
.list-box .list-body .table-wrap{margin-top:10px}
.list-box .list-body .table-wrap table tr th{border-bottom:none}
.list-box .list-body .table-wrap table{width:100%;border:1px solid #ddd}
.list-box .list-body .table-wrap .on td{background:#f2f7fa}
.list-box .list-body .table-wrap .open-ctrl{width:14px;height:14px;display:inline-block;background:url(../../images/welfare/tab_ctrl.png) no-repeat 0 0;cursor:pointer}
.list-box .list-body .table-wrap .open-ctrl.active{background:url(../../images/welfare/tab_ctrl.png) no-repeat 0 -23px}
.list-box .list-body .table-wrap .edit-btn{padding:4px 10px;color:#fff;background:#188bf6;margin-right:5px;cursor:pointer}
.list-box .list-body .table-wrap .edit-btn:hover{background:#1684eb}
.list-box .list-body .table-wrap .delete-btn{padding:4px 10px;background:#e5e5e5;cursor:pointer}
.list-box .list-body .table-wrap .delete-btn:hover{background:lightgray}
.list-box .list-body .table-wrap .red-btn{padding:1px 5px;color:#fff;background-color:#cb5a5e;margin-right:5px;cursor:pointer}
.list-box .list-body .table-wrap .detail{display:none}
.list-box .list-body .table-wrap .detail p{margin:0 0 10px}
.list-box .list-body .table-wrap .form-control{border-radius:0}
.list-box .list-footer{padding:0 10px 10px}
.list-box .list-footer .list-meta{line-height:39px}
.list-box .list-footer .page-wrap{text-align:right}
.list-box .list-footer .pagination{margin:0;border-radius:0}
.list-box .list-footer .pagination li a{color:#5e5e5e}
.list-box .list-footer .pagination li.active a{color:#fff}
.modal-body .welfare-title{margin-bottom:12px}
.modal-body .welfare-score{margin-bottom:12px}
.modal-body .w_label{width:20%;padding:0 10px;height:40px;line-height:40px}
.modal-body .inpubox{position:relative;width:70%;height:40px}
.modal-body .inpubox input{width:100%;border-radius:0}
.modal-body .inpubox .validate{position:absolute;top:0px;left:410px;width:50%;padding:6px;background:#ffffcc;border:1px solid #cc9933;color:#666;border-radius:4px}
.modal-body .inpubox .triangle{width:0;height:0;border-top:5px solid transparent;border-right:10px solid #cc9933;border-bottom:5px solid transparent;position:absolute;left:-10px;top:11px}
.modal-body .welfare-rule .inpubox{height:auto}
#edui1_bottombar{display:none}
.list-box .progress{margin-bottom:0}
#mywelfare{background:#fff;padding:15px 0;margin:20px}
#mywelfare .list-box .list-title .option-wrap{top:0}
#month-welfare,#total-welfare,#job-welfare{margin-bottom:25px}